body {
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 15px;
}

header {
    border-bottom: 0.20px solid #e5e5e5;
    height: 50px;
    margin: 0px;
    padding: 13px;
    position: relative;
}

header div {
    display: inline;
}

#botones-header {
    float: right;
    margin-top: 12px;
    margin-right: 20%;
    position: relative;
    height: 50px;
}

#canasta {
    display: inline-block;
}

#canasta img {
    height: 25px;
    margin-bottom: -9px;
}

#contenido {
    background-color: white;
    height: 100%;
    padding-left: 20%;
    padding-top: 30px;
    position: absolute;
    top: 445px;
    width: 100%;
    z-index: 1;
}

#logo {
    display: inline-block;
    margin-left: 20%;
}

#logo img {
    height: 50px;
}

.boton-header {
    display: inline;
    border: 0.20px solid green;
    padding: 12px 5px;
    text-align: center;
    margin-right: 10px;
}

.imagen-grande {
    height: 370px;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.imagen-grande img {
    display: block;
    margin: 0 auto;
    width: 1500px;
}

.inicio-sesion {
    border-color: #E0E0E0;
}

.registrate {
    border-color: #262626;
    background-color: #262626;
    color: white;
    padding: 12px 13px;
}
