<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Tacoste</title>
        <link rel="stylesheet" type="text/css" href="{% static 'inicio/css/index.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Nunito" rel="stylesheet">
    </head>
    <body>
        <header>
            <div id="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'inicio/img/Tacoste-logo.png' %}">
                </a>
            </div>
            <div id="botones-header">
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}"><div class="boton inicio-sesion boton-header">Cerrar sesion</div></a>
                <a href="{% url 'canasta' %}"><picture id="canasta">
                    <img src="{% static 'inicio/img/shopping-cart.png' %}">
                    </picture></a>
                {% if hay_pedido %}
                <div class="hay-pedido">*</div>
                {% endif %}
                {% else %}
                <a href="{% url 'login' %}"><div class="boton inicio-sesion boton-header">Iniciar sesion</div></a>
                <div class="boton registrate boton-header">Regístrate</div>
                {% endif %}
            </div>
        </header>
        <div class="imagen-grande">
            <picture>
                <img src="{% static 'inicio/img/BLOG-TACOS.png' %}">
            </picture>
        </div>
        <div id="contenido">
            <div id="sucursales">
                <h2 id="sucursales-titulo">Sucursales</h2>
                {% for sucursal in sucursales %}
                <a href="{% url 'sucursal' sucursal.idsucursal 'entradas' %}"><article class="caja">
                    <div class="caja-contenido">
                        <h3 class="sucursal-direccion">
                            <span class="caja-direccion sucursal-calle">
                                {{sucursal.calle}} {{sucursal.numexterior}}
                            </span>
                            <span class="caja-direccion sucursal-colonia">
                                {{sucursal.colonia}}, {{ sucursal.municipio }}
                            </span>
                            <span class="caja-direccion sucursal-estado">
                                {{ sucursal.cp.estado }}
                            </span>
                        </h3>
                        <h4>
                            <span class="sucursal-telefono">
                                {% if sucursal.telefono %}
                                {{ sucursal.telefono.telefono }}
                                {% else %}
                                Sin número teléfonico
                                {% endif %}
                            </span>
                        </h4>
                    </div>
                    <img src="{% static 'inicio/img/sucursal.jpg' %}">
                </article></a>
                {% endfor %}
            </div>
            <footer>
                <div>
                    <picture class="logo">
                        <img src="{% static 'inicio/img/Tacoste-logo.png' %}">
                    </picture>
                    <div id="footer-enlaces">
                        <span class="footer-enlaces">El mejor Team para Tacos</span>
                        <span class="footer-enlaces">©2018</span>
                        <div id="privacidad-terminos">
                            <a href="https://github.com/EderVs/ProyectoFinalFBD/blob/master/Base%20de%20Datos/Documentos/aviso_privacidad.pdf"><span class="footer-enlaces">Privacidad</span></a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
