<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Tacoste</title>
        <link rel="stylesheet" type="text/css" href="{% static 'inicio/css/index.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Nunito" rel="stylesheet">
    </head>
    <body>
        <header>
            <div id="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'inicio/img/Tacoste-logo.png' %}">
                </a>
            </div>
            <div id="botones-header">
                <div class="boton inicio-sesion boton-header">Iniciar sesion</div>
                <div class="boton registrate boton-header">Regístrate</div>
                <picture id="canasta">
                    <img src="{% static 'inicio/img/shopping-cart.png' %}">
                </picture>
            </div>
        </header>
        <div class="imagen-grande">
            <picture>
                <img src="{% static 'inicio/img/tacos-header.jpg' %}">
            </picture>
        </div>
        <div id="contenido">
            <div id="sucursales">
                <h2 id="sucursales-titulo">Sucursales</h2>
                <div>
                    <a href="{% url 'sucursal' 'entradas' %}"><article class="caja">
                        <div class="caja-contenido">
                            <h3 class="sucursal-direccion">
                                <span class="caja-direccion sucursal-calle">
                                    Alatata 22
                                </span>
                                <span class="caja-direccion sucursal-colonia">
                                    Condesa, Cuauhtemoc
                                </span>
                                <span class="caja-direccion sucursal-estado">
                                    Ciudad de México
                                </span>
                            </h3>
                            <h4>
                                <span class="sucursal-telefono">5272 7666</span>
                            </h4>
                        </div>
                        <img src="{% static 'inicio/img/sucursal.jpg' %}">
                        </article></a>
                </div>
            </div>
            <footer>
                <div>
                    <picture class="logo">
                        <img src="{% static 'inicio/img/Tacoste-logo.png' %}">
                    </picture>
                    <div id="footer-enlaces">
                        <span class="footer-enlaces">¿Quienes somos?</span>
                        <span class="footer-enlaces">©2018</span>
                        <div id="privacidad-terminos">
                            <span class="footer-enlaces">Privacidad</span>
                            <span class="footer-enlaces">Términos</span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
