<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Tacoste | Sucursal</title>
        <link rel="stylesheet" type="text/css" href="{% static 'inicio/css/index.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'inicio/css/sucursal.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Nunito" rel="stylesheet">
    </head>
    <body>
        <header>
            <div id="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'inicio/img/Tacoste-logo.png' %}">
                </a>
            </div>
            <div id="botones-header">
                <div class="boton inicio-sesion boton-header">Iniciar sesion</div>
                <div class="boton registrate boton-header">Regístrate</div>
                <picture id="canasta">
                    <img src="{% static 'inicio/img/shopping-cart.png' %}">
                </picture>
            </div>
        </header>
        <div class="imagen-grande">
            <picture>
                <img src="{% static 'inicio/img/tacos-header.jpg' %}">
            </picture>
            <div class="imagen-grande-caja-fantasma">
                <div class="imagen-grande-caja">
                    <h2 class="sucursal-direccion">
                        <span class="caja-direccion sucursal-calle">
                            Alatata 22
                        </span>
                        <span class="caja-direccion sucursal-colonia">
                            Condesa, Cuauhtemoc
                        </span>
                        <span class="caja-direccion sucursal-estado">
                            Ciudad de México
                        </span>
                    </h2>
                    <h3>
                        <span class="sucursal-telefono">5272 7666</span>
                    </h3>
                </div>
            </div>
        </div>
        <div id="contenido">
            <nav>
                <a href="{% url 'sucursal' 'entradas' %}">
                    {% if parte_menu == 'entradas' %}
                    <span class="menu-nav menu-nav-highlight">
                        Entradas
                    </span>
                    {% else %}
                    <span class="menu-nav">
                        Entradas
                    </span>
                    {% endif %}
                </a>
                <a href="{% url 'sucursal' 'gringas-y-quecas' %}">
                    {% if parte_menu == 'gringas-y-quecas' %}
                    <span class="menu-nav menu-nav-highlight">
                        Gringas y Quecas
                    </span>
                    {% else %}
                    <span class="menu-nav">
                        Gringas y Quecas
                    </span>
                    {% endif %}
                </a>
                <a href="{% url 'sucursal' 'del-cazo' %}">
                    {% if parte_menu == 'del-cazo' %}
                    <span class="menu-nav menu-nav-highlight">
                        Del Cazo
                    </span>
                    {% else %}
                    <span class="menu-nav">
                        Del Cazo
                    </span>
                    {% endif %}
                </a>
                <a href="{% url 'sucursal' 'alambres' %}">
                    {% if parte_menu == 'alambres' %}
                    <span class="menu-nav menu-nav-highlight">
                        Alambres
                    </span>
                    {% else %}
                    <span class="menu-nav">
                        Alambres
                    </span>
                    {% endif %}
                </a>
                <a href="{% url 'sucursal' 'sopes-y-huaraches' %}">
                    {% if parte_menu == 'sopes-y-huaraches' %}
                    <span class="menu-nav menu-nav-highlight">
                        Sopes y Huaraches
                    </span>
                    {% else %}
                    <span class="menu-nav">
                        Sopes y Huaraches
                    </span>
                    {% endif %}
                </a>
                <a href="{% url 'sucursal' 'enchiladas' %}">
                    {% if parte_menu == 'enchiladas' %}
                    <span class="menu-nav menu-nav-highlight">
                        Enchiladas
                    </span>
                    {% else %}
                    <span class="menu-nav">
                        Enchiladas
                    </span>
                    {% endif %}
                </a>
                <a href="{% url 'sucursal' 'nuestros-quesos' %}">
                    {% if parte_menu == 'nuestros-quesos' %}
                    <span class="menu-nav menu-nav-highlight">
                        Nuestros Quesos
                    </span>
                    {% else %}
                    <span class="menu-nav">
                        Nuestros Quesos
                    </span>
                    {% endif %}
                </a>
                <a href="{% url 'sucursal' 'ensaladas' %}">
                    {% if parte_menu == 'ensaladas' %}
                    <span class="menu-nav menu-nav-highlight">
                        Ensaladas
                    </span>
                    {% else %}
                    <span class="menu-nav">
                        Ensaladas
                    </span>
                    {% endif %}
                </a>
                <a href="{% url 'sucursal' 'tacos' %}">
                    {% if parte_menu == 'tacos' %}
                    <span class="menu-nav menu-nav-highlight">
                        Tacos
                    </span>
                    {% else %}
                    <span class="menu-nav">
                        Tacos
                    </span>
                    {% endif %}
                </a>
                <a href="{% url 'sucursal' 'bebidas' %}">
                    {% if parte_menu == 'bebidas' %}
                    <span class="menu-nav menu-nav-highlight">
                        Bebidas
                    </span>
                    {% else %}
                    <span class="menu-nav">
                        Bebidas
                    </span>
                    {% endif %}
                </a>
                <a href="{% url 'sucursal' 'hamburguesas' %}">
                    {% if parte_menu == 'hamburguesas' %}
                    <span class="menu-nav menu-nav-highlight">
                        Hamburguesas
                    </span>
                    {% else %}
                    <span class="menu-nav">
                        Hamburguesas
                    </span>
                    {% endif %}
                </a>
                <a href="{% url 'sucursal' 'lo-caliente' %}">
                    {% if parte_menu == 'lo-caliente' %}
                    <span class="menu-nav menu-nav-highlight">
                        Lo Caliente
                    </span>
                    {% else %}
                    <span class="menu-nav">
                        Lo Caliente
                    </span>
                    {% endif %}
                </a>
                <a href="{% url 'sucursal' 'tortas' %}">
                    {% if parte_menu == 'tortas' %}
                    <span class="menu-nav menu-nav-highlight">
                        Tortas
                    </span>
                    {% else %}
                    <span class="menu-nav">
                        Tortas
                    </span>
                    {% endif %}
                </a>
                <a href="{% url 'sucursal' 'postres' %}">
                    {% if parte_menu == 'postres' %}
                    <span class="menu-nav menu-nav-highlight">
                        Postres
                    </span>
                    {% else %}
                    <span class="menu-nav">
                        Postres
                    </span>
                    {% endif %}
                </a>
            </nav>
            <div id="menu">
                <h2 id="menu-titulo">{{ parte_menu_titulo }}</h2>
                <div>
                    <article class="caja">
                        <div class="caja-contenido">
                            <h3 class="platillo-info">
                                <span class="platillo-nombre">
                                        Ensalada
                                </span>
                            </h3>
                            <h4>
                                <span class="platillo-descripcion">
                                    Rica combinación de Pastos sobre una fresca cama de Lechuga,
                                    Zanahoria y Jitomate, con tortilla en Juliana y aderezo de
                                    la casa.
                                </span>
                                <span class="platillo-precio">
                                    $149.00
                                </span>
                            </h4>
                        </div>
                        <img src="{% static 'inicio/img/sucursal.jpg' %}">
                    </article>
                    <article class="caja">
                        <div class="caja-contenido">
                            <h3 class="platillo-info">
                                <span class="platillo-nombre">
                                        Pozole Rojo o Blanco
                                </span>
                            </h3>
                            <h4>
                                <span class="platillo-descripcion">
                                    De Pastor de Pollo o Cerdo
                                </span>
                                <span class="platillo-precio">
                                    $169.00
                                </span>
                            </h4>
                        </div>
                        <img src="{% static 'inicio/img/sucursal.jpg' %}">
                    </article>
                    <article class="caja">
                        <div class="caja-contenido">
                            <h3 class="platillo-info">
                                <span class="platillo-nombre">
                                        Ensalada
                                </span>
                            </h3>
                            <h4>
                                <span class="platillo-descripcion">
                                    Rica combinación de Pastos sobre una fresca cama de Lechuga,
                                    Zanahoria y Jitomate, con tortilla en Juliana y aderezo de
                                    la casa.
                                </span>
                                <span class="platillo-precio">
                                    $149.00
                                </span>
                            </h4>
                        </div>
                        <img src="{% static 'inicio/img/sucursal.jpg' %}">
                    </article>
                </div>
            </div>
            <footer>
                <div>
                    <picture class="logo">
                        <img src="{% static 'inicio/img/Tacoste-logo.png' %}">
                    </picture>
                    <div id="footer-enlaces">
                        <span class="footer-enlaces">¿Quienes somos?</span>
                        <span class="footer-enlaces">©2018</span>
                        <div id="privacidad-terminos">
                            <span class="footer-enlaces">Privacidad</span>
                            <span class="footer-enlaces">Términos</span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
